doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    title= title
    style(type='text/css').
        body {
            margin: 0;
            background: radial-gradient(#40404b, #111118) rgba(34,34,40,0.94);
            height: 2000px;
            /* width: 100%; */
            top: 0;
            left: 0;
            position: inherit;
            overflow: hidden;
        }
        #svg_4 {
            display: none;
        }
        span#SPAN_3 {
            display: none;
        }
        #DIV_1 {
            display: table-cell;
            height: 100%;
            text-rendering: optimizelegibility;
            width: 1000px;
            perspective-origin: 685.5px 549px;
            transform-origin: 685.5px 549px;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            overflow: auto;
            width: 100%;
            position: absolute;
            top: calc(50% - 150px);
        }/*#DIV_1*/

        #DIV_1:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_1:after*/

        #DIV_1:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_1:before*/

        #FORM_2 {
            box-shadow: rgb(17, 17, 24) 0px 0px 40px 4px;
            height: 219px;
            max-height: 1098px;
            text-rendering: optimizelegibility;
            width: 300px;
            perspective-origin: 150px 109.5px;
            transform: matrix(1, 0, 0, 1, 0, 0);
            transform-origin: 150px 109.5px;
            border-radius: 5px 5px 5px 5px;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            margin: 0px auto;
            transition: transform 0.6s ease 0.5s, opacity 0.6s ease 0.5s, -webkit-transform 0.6s ease 0.5s;
        }/*#FORM_2*/

        #FORM_2:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#FORM_2:after*/

        #FORM_2:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#FORM_2:before*/

        #SPAN_3 {
            bottom: 183px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
            color: rgb(51, 51, 51);
            cursor: pointer;
            display: block;
            height: 10px;
            left: 264px;
            position: absolute;
            right: 14px;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            top: 14px;
            width: 10px;
            z-index: 100;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 11px 11px;
            transform-origin: 11px 11px;
            caret-color: rgb(51, 51, 51);
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            border: 6px solid rgb(255, 255, 255);
            border-radius: 100px 100px 100px 100px;
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#SPAN_3*/

        #SPAN_3:after {
            color: rgb(51, 51, 51);
            cursor: pointer;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#SPAN_3:after*/

        #SPAN_3:before {
            color: rgb(51, 51, 51);
            cursor: pointer;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#SPAN_3:before*/

        #svg_4 {
            color: rgb(51, 51, 51);
            cursor: pointer;
            height: 10px;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            width: 10px;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 5px 5px;
            transform-origin: 5px 5px;
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
            overflow: hidden;
        }/*#svg_4*/

        #svg_4:after {
            color: rgb(51, 51, 51);
            cursor: pointer;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#svg_4:after*/

        #svg_4:before {
            color: rgb(51, 51, 51);
            cursor: pointer;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#svg_4:before*/

        #g_5 {
            color: rgb(51, 51, 51);
            cursor: pointer;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 0px 0px;
            transform-origin: 0px 0px;
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#g_5*/

        #g_5:after {
            color: rgb(51, 51, 51);
            cursor: pointer;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#g_5:after*/

        #g_5:before {
            color: rgb(51, 51, 51);
            cursor: pointer;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#g_5:before*/

        #polygon_6 {
            color: rgb(51, 51, 51);
            cursor: pointer;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 0px 0px;
            transform-origin: 0px 0px;
            fill: rgb(55, 55, 55);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#polygon_6*/

        #polygon_6:after {
            color: rgb(51, 51, 51);
            cursor: pointer;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            fill: rgb(55, 55, 55);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#polygon_6:after*/

        #polygon_6:before {
            color: rgb(51, 51, 51);
            cursor: pointer;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            fill: rgb(55, 55, 55);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / 0px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#polygon_6:before*/

        #DIV_7 {
            bottom: 0px;
            height: 219px;
            left: 0px;
            position: relative;
            right: 0px;
            text-rendering: optimizelegibility;
            top: 0px;
            width: 300px;
            perspective-origin: 150px 109.5px;
            transform-origin: 150px 109.5px;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_7*/

        #DIV_7:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_7:after*/

        #DIV_7:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_7:before*/

        #DIV_8 {
            bottom: 0px;
            height: 219px;
            left: 0px;
            position: relative;
            right: 0px;
            text-rendering: optimizelegibility;
            top: 0px;
            width: 300px;
            perspective-origin: 150px 109.5px;
            transform-origin: 150px 109.5px;
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            border-radius: 6px 6px 6px 6px;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_8*/

        #DIV_8:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_8:after*/

        #DIV_8:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_8:before*/

        #DIV_9 {
            bottom: 0px;
            box-sizing: border-box;
            color: rgb(51, 51, 51);
            height: 118px;
            left: 0px;
            position: relative;
            right: 0px;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            top: 0px;
            width: 300px;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 150px 59px;
            transform-origin: 150px 59px;
            caret-color: rgb(51, 51, 51);
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            border: 0px none rgb(51, 51, 51);
            border-radius: 5px 5px 0 0;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
            overflow: hidden;
            padding: 11px;
        }/*#DIV_9*/

        #DIV_9:after {
            color: rgb(51, 51, 51);
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_9:after*/

        #DIV_9:before {
            color: rgb(51, 51, 51);
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_9:before*/

        #DIV_10 {
            bottom: 0px;
            color: rgb(51, 51, 51);
            height: 118px;
            left: 0px;
            pointer-events: none;
            position: absolute;
            right: 0px;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            top: 0px;
            width: 300px;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 150px 59px;
            transform-origin: 150px 59px;
            caret-color: rgb(51, 51, 51);
            background: rgba(241, 241, 241, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
            overflow: hidden;
        }/*#DIV_10*/

        #DIV_10:after {
            color: rgb(51, 51, 51);
            pointer-events: none;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_10:after*/

        #DIV_10:before {
            color: rgb(51, 51, 51);
            pointer-events: none;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_10:before*/

        #DIV_11 {
            background-position: 50% 50%;
            color: rgb(51, 51, 51);
            height: 118px;
            opacity: 0.4;
            pointer-events: none;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            width: 300px;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 150px 59px;
            transform-origin: 150px 59px;
            filter: blur(40px) grayscale(1);
            caret-color: rgb(51, 51, 51);
            background: rgb(255, 255, 255) url("https://i.imgur.com/0gXMoc9.png") no-repeat scroll 50% 50% / 300px padding-box border-box;
            border: 0px none rgb(51, 51, 51);
            border-radius: 5px 5px 0 0;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
            transition: all 1s ease 1s;
        }/*#DIV_11*/

        #DIV_11:after {
            color: rgb(51, 51, 51);
            pointer-events: none;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_11:after*/

        #DIV_11:before {
            color: rgb(51, 51, 51);
            pointer-events: none;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_11:before*/

        #DIV_12 {
            color: rgb(51, 51, 51);
            height: 118px;
            opacity: 0.08;
            pointer-events: none;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            width: 300px;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 150px 59px;
            transform-origin: 150px 59px;
            caret-color: rgb(51, 51, 51);
            background: rgb(234, 83, 35) none repeat scroll 0% 0% / auto padding-box border-box;
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_12*/

        #DIV_12:after {
            color: rgb(51, 51, 51);
            pointer-events: none;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_12:after*/

        #DIV_12:before {
            color: rgb(51, 51, 51);
            pointer-events: none;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_12:before*/

        #DIV_13 {
            bottom: 0px;
            color: rgb(51, 51, 51);
            height: 99px;
            left: 0px;
            position: relative;
            right: 0px;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            top: 0px;
            width: 278px;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 139px 49.5px;
            transform-origin: 139px 49.5px;
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 18px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_13*/

        #DIV_13:after {
            color: rgb(51, 51, 51);
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 18px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_13:after*/

        #DIV_13:before {
            color: rgb(51, 51, 51);
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 18px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_13:before*/

        #IMG_14 {
            color: rgb(51, 51, 51);
            display: inline-block;
            height: 58px;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            vertical-align: middle;
            width: 58px;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 29px 29px;
            transform-origin: 29px 29px;
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 18px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            margin: 0px 0px 11px;
            outline: rgb(51, 51, 51) none 0px;
            transition: margin-top 0.4s ease 0s;
        }/*#IMG_14*/

        #IMG_14:after {
            color: rgb(51, 51, 51);
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 18px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#IMG_14:after*/

        #IMG_14:before {
            color: rgb(51, 51, 51);
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 18px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#IMG_14:before*/

        #DIV_15 {
            color: rgb(51, 51, 51);
            height: 30px;
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 258px;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 139px 15px;
            transform-origin: 139px 15px;
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 22px / 30px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
            overflow: hidden;
            padding: 0px 10px;
        }/*#DIV_15*/

        #DIV_15:after {
            color: rgb(51, 51, 51);
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            white-space: nowrap;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 22px / 30px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_15:after*/

        #DIV_15:before {
            color: rgb(51, 51, 51);
            text-align: center;
            text-decoration: none solid rgb(51, 51, 51);
            text-rendering: optimizelegibility;
            white-space: nowrap;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 22px / 30px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_15:before*/

        #DIV_16, #DIV_17 {
            height: 0px;
            text-rendering: optimizelegibility;
            width: 300px;
            perspective-origin: 150px 0px;
            transform-origin: 150px 0px;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_16, #DIV_17*/

        #DIV_16:after, #DIV_17:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_16:after, #DIV_17:after*/

        #DIV_16:before, #DIV_17:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_16:before, #DIV_17:before*/

        #DIV_18, #DIV_23 {
            bottom: 0px;
            height: 101px;
            left: 0px;
            position: relative;
            right: 0px;
            text-rendering: optimizelegibility;
            top: 0px;
            width: 300px;
            perspective-origin: 150px 50.5px;
            transform-origin: 150px 50.5px;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_18, #DIV_23*/

        #DIV_18:after, #DIV_23:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_18:after, #DIV_23:after*/

        #DIV_18:before, #DIV_23:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_18:before, #DIV_23:before*/

        #SPAN_19 {
            text-rendering: optimizelegibility;
            perspective-origin: 0px 0px;
            transform-origin: 0px 0px;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#SPAN_19*/

        #SPAN_19:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#SPAN_19:after*/

        #SPAN_19:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#SPAN_19:before*/

        #DIV_20, #DIV_21, #DIV_24 {
            height: 101px;
            text-rendering: optimizelegibility;
            width: 300px;
            perspective-origin: 150px 50.5px;
            transform-origin: 150px 50.5px;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_20, #DIV_21, #DIV_24*/

        #DIV_20:after, #DIV_21:after, #DIV_24:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_20:after, #DIV_21:after, #DIV_24:after*/

        #DIV_20:before, #DIV_21:before, #DIV_24:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_20:before, #DIV_21:before, #DIV_24:before*/

        #DIV_22 {
            height: 101px;
            text-rendering: optimizelegibility;
            width: 300px;
            perspective-origin: 150px 50.5px;
            transform-origin: 150px 50.5px;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_22*/

        #DIV_22:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_22:after*/

        #DIV_22:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_22:before*/

        #DIV_25 {
            box-sizing: border-box;
            height: 101px;
            text-rendering: optimizelegibility;
            width: 300px;
            perspective-origin: 150px 50.5px;
            transform-origin: 150px 50.5px;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            padding: 20px;
        }/*#DIV_25*/

        #DIV_25:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_25:after*/

        #DIV_25:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_25:before*/

        #DIV_26 {
            height: 46px;
            text-rendering: optimizelegibility;
            width: 260px;
            perspective-origin: 130px 23px;
            transform-origin: 130px 23px;
            animation: fadeIn 0.2s ease 0s 1 normal none running;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_26*/

        #DIV_26:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_26:after*/

        #DIV_26:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_26:before*/

        #DIV_27 {
            height: 46px;
            text-rendering: optimizelegibility;
            width: 260px;
            perspective-origin: 130px 23px;
            transform-origin: 130px 23px;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_27*/

        #DIV_27:after {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_27:after*/

        #DIV_27:before {
            text-rendering: optimizelegibility;
            font: normal normal 400 normal 14px / normal "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
        }/*#DIV_27:before*/

        #P_28 {
            color: rgba(0, 0, 0, 0.54);
            height: 46px;
            text-align: center;
            text-decoration: none solid rgba(0, 0, 0, 0.54);
            text-rendering: optimizelegibility;
            width: 260px;
            column-rule-color: rgba(0, 0, 0, 0.54);
            perspective-origin: 130px 23px;
            transform-origin: 130px 23px;
            caret-color: rgba(0, 0, 0, 0.54);
            border: 0px none rgba(0, 0, 0, 0.54);
            font: normal normal 400 normal 13px / 23.4px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            margin: 0px 0px 15px;
            outline: rgba(0, 0, 0, 0.54) none 0px;
        }/*#P_28*/

        #P_28:after {
            color: rgba(0, 0, 0, 0.54);
            text-align: center;
            text-decoration: none solid rgba(0, 0, 0, 0.54);
            text-rendering: optimizelegibility;
            column-rule-color: rgba(0, 0, 0, 0.54);
            caret-color: rgba(0, 0, 0, 0.54);
            border: 0px none rgba(0, 0, 0, 0.54);
            font: normal normal 400 normal 13px / 23.4px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgba(0, 0, 0, 0.54) none 0px;
        }/*#P_28:after*/

        #P_28:before {
            color: rgba(0, 0, 0, 0.54);
            text-align: center;
            text-decoration: none solid rgba(0, 0, 0, 0.54);
            text-rendering: optimizelegibility;
            column-rule-color: rgba(0, 0, 0, 0.54);
            caret-color: rgba(0, 0, 0, 0.54);
            border: 0px none rgba(0, 0, 0, 0.54);
            font: normal normal 400 normal 13px / 23.4px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgba(0, 0, 0, 0.54) none 0px;
        }/*#P_28:before*/

        #SPAN_29, #BR_30 {
            color: rgba(0, 0, 0, 0.54);
            text-align: center;
            text-decoration: none solid rgba(0, 0, 0, 0.54);
            text-rendering: optimizelegibility;
            column-rule-color: rgba(0, 0, 0, 0.54);
            perspective-origin: 0px 0px;
            transform-origin: 0px 0px;
            caret-color: rgba(0, 0, 0, 0.54);
            border: 0px none rgba(0, 0, 0, 0.54);
            font: normal normal 400 normal 13px / 23.4px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgba(0, 0, 0, 0.54) none 0px;
        }/*#SPAN_29, #BR_30*/

        #SPAN_29:after, #BR_30:after {
            color: rgba(0, 0, 0, 0.54);
            text-align: center;
            text-decoration: none solid rgba(0, 0, 0, 0.54);
            text-rendering: optimizelegibility;
            column-rule-color: rgba(0, 0, 0, 0.54);
            caret-color: rgba(0, 0, 0, 0.54);
            border: 0px none rgba(0, 0, 0, 0.54);
            font: normal normal 400 normal 13px / 23.4px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgba(0, 0, 0, 0.54) none 0px;
        }/*#SPAN_29:after, #BR_30:after*/

        #SPAN_29:before, #BR_30:before {
            color: rgba(0, 0, 0, 0.54);
            text-align: center;
            text-decoration: none solid rgba(0, 0, 0, 0.54);
            text-rendering: optimizelegibility;
            column-rule-color: rgba(0, 0, 0, 0.54);
            caret-color: rgba(0, 0, 0, 0.54);
            border: 0px none rgba(0, 0, 0, 0.54);
            font: normal normal 400 normal 13px / 23.4px "Avenir Next", Avenir, -apple-system, system-ui, Roboto, Helvetica, sans-serif;
            outline: rgba(0, 0, 0, 0.54) none 0px;
        }/*#SPAN_29:before, #BR_30:before*/




  body
    block content
        | <div id="DIV_1">
        | <form method="post" id="FORM_2">
        | <span id="SPAN_3"></span>
        | <svg id="svg_4">
        | <g id="g_5">
        | <polygon id="polygon_6">
        | </polygon>
        | </g>
        | </svg>
        | <div id="DIV_7">
        | <div id="DIV_8">
        | <div id="DIV_9">
        | <div id="DIV_10">
        | <div id="DIV_11">
        | </div>
        | <div id="DIV_12">
        | </div>
        | </div>
        | <div id="DIV_13">
        | <img src="https://i.imgur.com/0gXMoc9.png" id="IMG_14" alt='' />
        | <div id="DIV_15">
        | Miljøtekniske Skytjeneste
        | </div>
        | </div>
        | </div>
        | <div id="DIV_16">
        | <div id="DIV_17">
        | </div>
        | </div>
        | <div id="DIV_18">
        | <span id="SPAN_19"></span>
        | <div id="DIV_20">
        | <div id="DIV_21">
        | <div id="DIV_22">
        | <div id="DIV_23">
        | <div id="DIV_24">
        | <div id="DIV_25">
        | <div id="DIV_26">
        | <div id="DIV_27">
        | <p id="P_28">
        | <span id="SPAN_29">Du må verifisere eposten din før du kan fortsette. Vennligst sjekk innboksen din og fortsett registreringen i eposten fra oss.</span>
        | </p>
        | </div>
        | </div>
        | </div>
        | </div>
        | </div>
        | </div>
        | </div>
        | </div>
        | </div>
        | </div>
        | </div>
        | </form>
        | </div>
